body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
input{
    border: solid 1px lightgray;
    border-radius: 5px;
}
.hijouno{
    background-color: hsl(0, 4%, 95%);
    padding: 5px;
}
.hijodos{
    background-color: rgb(243, 188, 188);
    color: rgb(119, 5, 5);
    padding: 6px;
    margin: 16px;
    border-radius: 3px;
}
.padre{
    border: 2.5px solid #564d4d17;
    border-radius: 5px;
    width: 1200px;
    margin-top: 50px;
}
.uno{
    width: 35vW;
    height: 4.5vH;
}
.dos{
    width: 30vW;
    height: 4.5vh;
}
.tres{
    width: 15vw;
    height: 4.5vh;
}
.cuatro{
    width: 21vw;
    height: 4.5vh;
}
.hijotres{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0px 20px;
}
.hijocuatro{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.botton{
    display: flex;
    justify-content: right;
}
.boton-espacio{
    padding: 10px 10px 10px 10px;
}
.submit-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display:flex;
    justify-content: end;
    padding: 10px 10px;
}
.card-container {
    /* posicionamiento */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1em;
    padding: 0.3em 1em;
    border: var(--borde);
    border-radius: var(--borde-radius);
    
    /* tamano */
    width: fit-content;
    block-size: fit-content;

    background-color: #6C757D;
}
.card-grupo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}
.card-container label {
    margin-bottom: 0;
}
.btn{
    margin-right: 8px;
}